.film {
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    margin:25px

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

img {
    width:15em;
    height:20em;
}

.demo-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;

}

